<strong>Olá, {{ meetup.user }}</strong>
<p>Um novo participante se inscreveu no seu Meetapp, confira os detalhes abaixo:</p>
<p>
  <strong>Participante: </strong> {{ subscriber.name }} - {{ subscriber.email }} <br />
  <strong>Evento: </strong> {{ meetup.title }} - {{ meetup.date }} <br />
</p>
